<%= simple_form_for [@document] do |f| %>
  <%= f.input :title, as: :string %>
  <%= f.input :related_skill, required: false, collection: Skill.all.map { |skill| "#{skill.id}, #{skill.kind}, #{skill.content}" } %>
  <%= f.input :related_step, required: false, collection: Step.all.map { |step| "#{step.id}, #{step.title}, #{step.task}, #{step.institution}" } %>
  <label class="btn btn-success">
    + Upload Document (optional)
    <span style="display:none;">
      <%= f.input :photo, as: :file %>
    </span>
    </label>
  <br>
  <%= f.button :submit, "Add Document", class: "btn btn-success" %>
<% end %>
